<!DOCTYPE html>
<html lang="en" ng-app="CheckIfTooMuch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Check If Too Much</title>
</head>
<body ng-controller="CheckIfTooMuchController">
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Please enter a comma separated list of your lunch items.</h3>
        </div>
        <div class="panel-body">
            <input type="text" ng-model="lunchItems">
            <button ng-click="checkLunchItems()">Check If Too Much</button>
            <br>
            {{message}}
        </div>
    </div>
</div>
</body>
</html>